.botones-inicio{
  padding-top: 200px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
}

.formato-boton{
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,200px);
}

.saludo{
  color: gray;
  text-align: center;
  padding-right: 150px;
  padding-top: 20px;
}